@model MoviesManagememtSystem.Models.Movie

@{
    ViewData["Title"] = "Edit";
}
<!--Use text align center to both h1 and h4-->
<h1 style="text-align:center; ">Edit</h1>

<h4 style="text-align:center; ">Movie</h4>
<hr />
<div class="row">
    <!--Give background color to table coloumns-->
    <div class="col-md-4" style="background-color:blanchedalmond;">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="MovieName" class="control-label"></label>
                <input asp-for="MovieName" class="form-control" />
                <span asp-validation-for="MovieName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="plot" class="control-label"></label>
                <input asp-for="plot" class="form-control" />
                <span asp-validation-for="plot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="publishTime" class="control-label"></label>
                <input asp-for="publishTime" class="form-control" />
                <span asp-validation-for="publishTime" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsHit" /> @Html.DisplayNameFor(model => model.IsHit)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ProduceDt" class="control-label"></label>
                <input asp-for="ProduceDt" class="form-control" />
                <span asp-validation-for="ProduceDt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
